.main-menu {
	margin: 0;
	min-width: auto;
	min-height: auto;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	flex-grow: 1;
	gap: 16px;
}

.main-menu__item:first-child {
	display: none;
}

.main-menu__item:last-child {
	margin-left: auto;

}

.main-menu__link {
	font-size: 13px;
	line-height: calc(18 / 13);
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.main-menu__link_active {
	font-weight: 500;
}

.profile-link {
	padding: 3px 3px 3px 11px;
	border-radius: 40px;
	background-color: rgba(32, 32, 32, 1);
	box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
	font-weight: 500;
	line-height: calc(12 / 13);
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	display: flex;
	gap: 7px;
	align-items: center;
	justify-content: center;
}

.profile-link__logo {
	height: 26px;
	width: 26px;
	border-radius: 50px;
}

.burger {
	padding: 0;
	position: absolute;
	top: 15px;
	right: 30px;
	display: none;
	width: 44px;
	height: 44px;
	border: none;
	cursor: pointer;
	transition: opacity .3s linear;
	background: none;
	background-image: url('../../images/burger.svg');
	background-repeat: no-repeat;
	transition: background .3s linear;
}

.burger:hover {
	opacity: .8;
}

.burger_opened {
	background-image: url('../../images/burger-close.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

.main-menu-overlay {
	display: flex;
	background: none;
	width: 100%;
}



@media screen and (max-width: 992px) {
	.main-menu__link_active {
		border-bottom: 1px solid rgba(255, 255, 255, 1);
		padding-bottom: 4px;
	}
}

@media screen and (max-width: 800px) {
	.main-menu__item:first-child {
		display: block;
	}

	.main-menu {
		padding-top: 145px;
		padding-bottom: 128px;
		gap: 24px;

		display: none;
		flex-direction: column;
		padding: 159px 0 90px;
		align-items: center;
		max-width: 520px;
		width: 100%;
		background-color: rgba(32, 32, 32, 1);
		gap: 29px;
	}

	.main-menu_visible {
		display: flex;
	}

	.main-menu__item:last-child {
		margin-left: 0;
		margin-top: auto;
	}

	.main-menu__link {
		font-size: 18px;
		line-height: calc(22 / 18);
	}

	.profile-link {
		font-size: 13px;
		line-height: calc(12 / 13);
	}

	.burger {
		display: inline-flex;
		width: 43px;
		height: 43px;
		top: 17px;
		right: 31px;
		background-size: 44px 40px;
	}

	.burger_opened {
		width: 22px;
		height: 22px;
		top: 27px;
		right: 27px;
		background-size: 30px 30px;
	}

	.main-menu-overlay {
		display: flex;
		width: 100%;
	}

	.main-menu-overlay_visible {
		flex-direction: column-reverse;
		align-items: flex-end;
		position: fixed;
		z-index: 10;
		background-color: rgba(0, 0, 0, .3);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

@media screen and (max-width: 400px) {
	.main-menu {
		padding-top: 145px;
		padding-bottom: 128px;
		gap: 24px;
	}

	.burger {
		width: 40px;
		height: 43px;
		top: 17px;
		right: 12px;
		background-size: 36px 40px;
	}

	.burger_opened {
		width: 22px;
		height: 22px;
		right: 18px;
	}

	.main-menu__link_active {
		padding-bottom: 7px;
	}
}