.about-project {
	padding: 110px 70px;
	background-color: rgba(32, 32, 32, 1);
}

.about-project__title {
	margin: 0;
	border-bottom: 1px solid rgba(218, 218, 218, 1);
	padding-bottom: 23px;
	font-size: 22px;
	line-height: calc(27 / 22);
	font-weight: 400;
	letter-spacing: -0.94px;
}

.about-project__line {
	width: 100%;
	border-top: 1px solid rgba(218, 218, 218, 1);
	margin: 0;
}

.about-project__diploma {
	padding-top: 70px;
	display: grid;
	grid-template-areas:
		"stages time"
		"timeline timeline";
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	gap: 110px 40px;
}

.about-project__stages {
	grid-area: stages;
}

.about-project__time {
	grid-area: time;
}

.about-project__subtitle {
	margin: 0 0 26px 0;
	font-size: 20px;
	line-height: calc(24 / 20);
	font-weight: 400;
	letter-spacing: -0.84px;
}

.about-project__text {
	margin: 0;
	font-size: 14px;
	line-height: calc(20 / 14);
	font-weight: 400;
}

.about-project__timeline {
	grid-area: timeline;
	display: flex;
}

.about-project__timeline_part {
	flex-grow: 1;
}

.about-project__timeline_part_side_left {
	max-width: 20%;
}

.about-project__span {
	margin: 0;
	margin-bottom: 14px;
	min-height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: calc(17 / 14);
}

.about-project__span_side_left {
	background-color: rgba(61, 220, 132, 1);
	color: rgba(0, 0, 0, 1);
}

.about-project__span_side_right {
	background-color: rgba(48, 48, 48, 1);
}

.about-project__trend {
	margin: 0;
	font-size: 14px;
	line-height: calc(17 / 14);
	color: rgba(139, 139, 139, 1);
	text-align: center;
}

@media screen and (max-width: 992px) {
	.about-project {
		padding: 90px 50px;
	}

	.about-project__diploma {
		gap: 93px 30px;
	}

	.about-project__subtitle {
		margin-bottom: 22px;
	}

	.about-project__text {
		font-size: 12px;
		line-height: calc(18 / 12);
	}

	.about-project__timeline_part_side_left {
		max-width: 21%;
	}
}

@media screen and (max-width: 750px) {
	.about-project {
		padding: 70px 18px;
	}

	.about-project__title {
		padding-bottom: 28px;
		font-size: 18px;
		line-height: calc(22 / 18);
	}

	.about-project__diploma {
		padding-top: 60px;
		grid-template-areas:
			"stages stages"
			"time time"
			"timeline timeline";
		column-gap: 0;
		row-gap: 56px;
	}

	.about-project__subtitle {
		margin-bottom: 16px;
		font-size: 18px;
		line-height: calc(22 / 18);
	}

	.about-project__text {
		font-size: 11px;
		line-height: calc(16 / 11);
	}

	.about-project__timeline {
		margin-top: 4px;
	}

	.about-project__span {
		margin-bottom: 10px;
		font-size: 11px;
		line-height: calc(13 / 11);
	}

	.about-project__trend {
		font-size: 11px;
		line-height: calc(13 / 11);
	}

	.about-project__timeline_part_side_left {
		max-width: 35%;
	}
}