.techs {
	padding: 100px 70px;
	background-color: rgba(39, 39, 39, 1);
}

.techs__title {
	margin: 0;
	border-bottom: 1px solid rgba(218, 218, 218, 1);
	padding-bottom: 23px;
	font-size: 22px;
	line-height: calc(27 / 22);
	font-weight: 400;
	letter-spacing: -0.94px;
}

.techs__subtitle {
	margin: 90px 0 26px;
	font-size: 50px;
	line-height: calc(58 / 50);
	font-weight: 400;
	text-align: center;
	letter-spacing: -1.94px;
}

.techs__text {
	margin: 0 auto 100px;
	max-width: 492px;
	font-size: 14px;
	line-height: calc(20 / 14);
	text-align: center;
	letter-spacing: -0.94px;
}

.techs__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;

	/* display: grid;
	grid-auto-flow: row;
	grid-auto-rows: 100px;
	grid-template: 1fr / repeat(auto-fit, 84px);
	justify-content: center; */
}

.techs__list-item {
	height: 60px;
	width: 90px;
	border-radius: 10px;
	background-color: rgba(48, 48, 48, 1);
	font-size: 14px;
	line-height: calc(17 / 14);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 992px) {
	.techs {
		padding: 90px 50px;
	}

	.techs__subtitle {
		margin-top: 80px;
		margin-bottom: 22px;
	}

	.techs__list-item {
		width: 84px;
		height: 57px;
		font-size: 12px;
		line-height: calc(15 / 12);
	}

	.techs__text {
		margin-bottom: 83px;
		max-width: 430px;
		font-size: 12px;
		line-height: calc(18 / 12);
		letter-spacing: -0.44px;
	}
}

@media screen and (max-width: 750px) {
	.techs {
		padding: 70px 18px;
	}

	.techs__title {
		font-size: 18px;
		line-height: calc(22 / 18);
		padding-bottom: 28px;
	}

	.techs__subtitle {
		margin-top: 60px;
		margin-bottom: 24px;
		font-size: 30px;
		line-height: calc(36 / 30);
	}

	.techs__text {
		margin-bottom: 50px;
		font-size: 11px;
		line-height: calc(16 / 11);
	}

	.techs__list {
		padding-left: 53px;
		justify-content: flex-start;
	}
}