.about-me {
	padding: 110px 70px 100px;
	display: grid;
	grid-template-areas:
		"title title"
		"resume image";
	grid-template-rows: repeat(2, auto);
	grid-template-columns: 1fr min-content;
	row-gap: 66px;
	column-gap: 50px;
}

.about-me__title {
	grid-area: title;
	margin: 0;
	border-bottom: 1px solid rgba(218, 218, 218, 1);
	padding-bottom: 23px;
	font-size: 22px;
	line-height: calc(27 / 22);
	font-weight: 400;
}

.about-me__resume {
	grid-area: resume;
	max-width: 598px;
	display: flex;
	flex-direction: column;
}

.about-me__name {
	margin: 0;
	font-size: 50px;
	line-height: calc(58 / 50);
	font-weight: 400;
	letter-spacing: -1.94px;
}

.about-me__job {
	margin: 18px 0 26px;
	font-size: 18px;
	line-height: calc(20/ 18);
	font-weight: 500;
}

.about-me__info {
	margin: 0;
	font-size: 14px;
	line-height: calc(22/ 14);
	font-weight: 400;
}

.about-me__git {
	margin-top: auto;
	width: fit-content;
	font-size: 14px;
	line-height: calc(17/ 14);
	font-weight: 500;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.about-me__image {
	grid-area: image;
	width: 270px;
	height: 370px;
	object-fit: cover;
	object-position: -106px;
	border-radius: 10px;
	display: inline-flex;
}

@media screen and (max-width: 992px) {
	.about-me {
		padding: 90px 50px;
		row-gap: 66px;
	}

	.about-me__name {
		font-size: 40px;
		line-height: calc(40 / 40);
		font-weight: 400;
	}

	.about-me__job {
		margin-top: 16px;
		margin-bottom: 20px;
		font-size: 12px;
		line-height: calc(18/ 12);
	}

	.about-me__info {
		font-size: 12px;
		line-height: calc(18/ 12);
	}

	.about-me__image {
		width: 255px;
		height: 307px;
	}
}

@media screen and (max-width: 750px) {
	.about-me {
		padding-left: 14px;
		padding-right: 14px;
	}
}

@media screen and (max-width: 650px) {
	.about-me {
		padding-top: 70px;
		padding-bottom: 70px;
		row-gap: 40px;
		column-gap: 35px;
	}

	.about-me__title {
		padding-bottom: 28px;
		font-size: 18px;
		line-height: calc(22 / 18);
	}

	.about-me__image {
		width: 292px;
		height: 352px;
	}

	.about-me__name {
		font-size: 30px;
		line-height: calc(36 / 30);
	}

	.about-me__job {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 550px) {
	.about-me {
		grid-template-areas:
			"title"
			"image"
			"resume";
		grid-template-rows: repeat(3, auto);
		grid-template-columns: auto;
		column-gap: 0;
	}

	.about-me__image {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	.about-me__job {
		font-size: 11px;
		line-height: calc(16 / 11);
	}

	.about-me__info {
		font-size: 11px;
		line-height: calc(16 / 11);
	}

	.about-me__git {
		margin-top: 40px;
	}
}
