.not-found-page {
	padding-top: 24px;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.not-found-page__error-code {
	margin: 0;
	font-size: 140px;
	line-height: calc(169 / 140);
}

.not-found-page__error-text {
	margin: 5px 0 0;
	font-size: 16px;
	line-height: calc(19 / 16);
}

.not-found-page__button {
	margin: 184px 0 0;
	font-size: 14px;
	line-height: calc(17 / 14);
	padding: 0;
	border: none;
	background: none;
	color: rgba(66, 133, 244, 1);
	transition: text-shadow .3s linear;
}

.not-found-page__button:hover {
	text-shadow: 0px 4px 5px rgba(66, 133, 244, .5);
}

@media screen and (max-width: 992px) {
	.not-found-page {
		padding-top: 348px;
	}
}

@media screen and (max-width: 750px) {
	.not-found-page {
		padding-top: 218px;
	}

	.not-found-page__error-code {
		font-size: 80px;
		line-height: calc(97 / 80);
	}

	.not-found-page__error-text {
		margin-top: 10px;
		font-size: 12px;
		line-height: calc(15 / 12);
	}

	.not-found-page__button {
		margin-top: 284px;
		font-size: 12px;
		line-height: calc(15 / 12);
	}
}